package infrastructure

import (
	"database/sql"
	"${working_dir}/domain/repository"
)

type ${projectName}Repository struct {
	db *sql.DB
}

func New${Project}Repository(db *sql.DB) repository.${Project}Repository {
	return &${projectName}Repository{db: db}
}
